.review-carousel {
  position: relative;
  
  .embla__slide {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  .embla__buttons {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-bottom: 13px;
    top: 10%;
    transform: none;
    margin-left: auto;
  }

  .embla__dots {
    position: relative;
    bottom: 0;
    margin-top: 40px;
  }
}
