@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

/* section {
  scroll-snap-align: start;
} */

body {
  @apply text-main font-sans;
}

a {
  transition: opacity 0.2s ease;
}

a:hover {
  opacity: 0.7;
}
