@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  @apply text-main font-sans;
  background: linear-gradient(
    115deg,
    /* Diagonal gradient */ #d6be9f,
    /* Light beige */ #d4bb9d,
    /* Light brown */ #c4a58f,
    /* Sienna */ #5a3e36 /* Dark brown */
  );
}

a {
  transition: all 0.2s ease;
}

a:hover {
  opacity: 0.8;
  scale: 1.1;
}

a:active {
  scale: 0.9;
}
