.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  min-width: 100%;
  height: calc(100vh - 134px);

  @media (max-width: 639px) {
    // height: calc(100vh - 240px);
  }
}

.embla__prev {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 50px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.embla__next {
  position: absolute;
  top: 55%;
  right: 50px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.embla__next:hover,
.embla__prev:hover {
  opacity: 1;
}
